openapi: 3.1.0

info:
  title: SMSCode Public API
  version: 1.0.0
  summary: Virtual phone numbers for SMS verification — buy numbers, receive OTP codes, top up balance.
  description: >-
    Public REST API for [SMSCode](https://smscode.gg). Rent a virtual phone
    number, poll for the inbound SMS verification code, and manage your balance
    — all over a small, predictable JSON contract.


    ## Surfaces


    Two versioned, additive API surfaces share this one auth model and error
    taxonomy:


    - **`/v1`** — the established surface. All money is **IDR** (Indonesian
      Rupiah), the canonical ledger currency. Integer minor units.
    - **`/v2`** — the USD-native surface. The same IDR ledger, projected to a
      structured money object with an `meta.fx` exchange-rate receipt. Coexists
      with `/v1`; pick one per integration.


    Only `/v1` and `/v2` are documented as public surfaces. Undocumented
    endpoints are out of scope and may change without notice.


    ## Authentication


    Every request is authenticated with a bearer token (your API key) sent in
    the `Authorization` header:


    ```
    Authorization: Bearer <YOUR_API_KEY>
    ```


    Keep your API key server-side. It carries the full balance and ordering
    authority of your account.


    ## Response envelope


    Responses follow a consistent envelope so success and failure are never
    ambiguous:


    - **Success:** `{ "success": true, "data": ..., "meta"?: ... }`
    - **Failure:** `{ "success": false, "error": { "code": ..., "message": ...,
      "details"?: ... } }`


    `error.code` is a stable machine-readable enum (see `ErrorObject`); branch
    on it, not on `error.message` (message text is human-facing and may change).
    `error.details` and `meta` are present only when relevant — they are omitted
    (not `null`) otherwise.


    ## Idempotency


    Write operations (e.g. creating an order or a deposit) accept an idempotency
    key so a retried request is not double-applied. Reusing a key with a
    different request body is rejected with `IDEMPOTENCY_KEY_REUSED`; a retry
    while the original is still settling returns `REQUEST_IN_PROGRESS`.


    ## Rate limiting and request size


    State-changing endpoints are rate limited. When throttled you receive
    `429` (`RATE_LIMIT_EXCEEDED`, or `TEMP_BANNED_ABUSE_GUARD` when an abuse
    tripwire trips) with a `Retry-After` header. Request bodies are capped at
    **1 MB**; a larger body is rejected with `413 Payload Too Large` before the
    handler runs (this transport-level rejection has no `error.code` envelope).
  contact:
    name: SMSCode Support
    url: https://smscode.gg
  license:
    name: Proprietary
    url: https://smscode.gg

servers:
  - url: https://api.smscode.gg
    description: Production

security:
  - bearerAuth: []

tags:
  - name: v1
    description: IDR-native public API surface.
  - name: v2
    description: USD-native public API surface (IDR ledger projected to USD with an FX receipt).

paths:
  # ───────────────────────── /v1 — IDR-native ─────────────────────────
  /v1/catalog/countries:
    get:
      tags: [v1]
      operationId: v1ListCountries
      summary: List countries
      description: >-
        List every country in the catalog. Use a country's `id` to scope the
        services and products endpoints. Cached briefly server-side.
      responses:
        '200':
          description: The full list of countries.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V1Country'
              examples:
                countries:
                  value:
                    success: true
                    data:
                      - id: 7
                        code: id
                        name: Indonesia
                        dial_code: '62'
                        emoji: 🇮🇩
                        active: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/catalog/services:
    get:
      tags: [v1]
      operationId: v1ListServices
      summary: List services
      description: >-
        List the services (platforms) you can rent a number for — e.g.
        WhatsApp, Telegram. Pass `country_id` to narrow the list to services
        that currently have available, active products in that country.
      parameters:
        - $ref: '#/components/parameters/CountryIdQuery'
      responses:
        '200':
          description: The list of services.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V1Service'
              examples:
                services:
                  value:
                    success: true
                    data:
                      - id: 1
                        code: whatsapp
                        name: WhatsApp
                        active: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/catalog/products:
    get:
      tags: [v1]
      operationId: v1ListProducts
      summary: List products
      description: >-
        List orderable products (a service in a country at a price). Only
        active products with available stock and an active provider are
        returned. `price` is in **IDR** minor units (integer). Paginated.
      parameters:
        - $ref: '#/components/parameters/CountryIdQuery'
        - $ref: '#/components/parameters/PlatformIdQuery'
        - $ref: '#/components/parameters/OperatorIdQuery'
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/SortQuery'
      responses:
        '200':
          description: A page of products with pagination metadata.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [meta]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V1Product'
                      meta:
                        $ref: '#/components/schemas/PaginationMeta'
              examples:
                products:
                  value:
                    success: true
                    data:
                      - id: 1024
                        name: WhatsApp - Indonesia
                        country_id: 7
                        platform_id: 1
                        available: 142
                        price: 750000
                        active: true
                        catalog_product_id: 88
                    meta:
                      page: 1
                      limit: 1000
                      count: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/catalog/operators:
    get:
      tags: [v1]
      operationId: v1ListOperators
      summary: List operators
      description: >-
        List the operators (carriers) with in-stock tiers for a (country,
        service). Prepended with a synthesized `any` entry (null `operator_id`)
        only when the any tiers also have stock. Empty ⇒ no operator choice
        (order the any tiers directly).
      parameters:
        - $ref: '#/components/parameters/OperatorCountryIdQuery'
        - $ref: '#/components/parameters/OperatorPlatformIdQuery'
      responses:
        '200':
          description: The in-stock operators (+ the conditional `any`).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V1Operator'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /v1/catalog/exchange-rate:
    get:
      tags: [v1]
      operationId: v1GetExchangeRate
      summary: Get an exchange rate
      description: >-
        Look up a stored exchange rate by pair (default `USD/IDR`). `rate` is
        `quote_per_base` as an integer (the quote-currency minor units per one
        base unit). Returns `404` if the pair is not stored.
      parameters:
        - $ref: '#/components/parameters/PairQuery'
      responses:
        '200':
          description: The exchange rate for the requested pair.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/V1ExchangeRate'
              examples:
                rate:
                  value:
                    success: true
                    data:
                      pair: USD/IDR
                      base_currency: USD
                      quote_currency: IDR
                      rate: 16000
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/balance:
    get:
      tags: [v1]
      operationId: v1GetBalance
      summary: Get account balance
      description: >-
        Return the authenticated account's balance in **IDR** minor units
        (integer). The canonical ledger currency.
      responses:
        '200':
          description: The current balance.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/V1Balance'
              examples:
                balance:
                  value:
                    success: true
                    data:
                      currency: IDR
                      balance: 1250000
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/orders:
    get:
      tags: [v1]
      operationId: v1ListOrders
      summary: List orders
      description: >-
        List the authenticated account's orders, most recent first. Paginate
        with `limit`/`offset` and optionally narrow by `status`. Money
        (`amount`) is in **IDR** minor units.
      parameters:
        - $ref: '#/components/parameters/OrderLimitQuery'
        - $ref: '#/components/parameters/OrderOffsetQuery'
        - $ref: '#/components/parameters/OrderStatusQuery'
      responses:
        '200':
          description: The list of orders.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V1OrderSummary'
              examples:
                orders:
                  value:
                    success: true
                    data:
                      - id: 90210
                        status: ACTIVE
                        created_at: '2026-05-11T09:00:00+00:00'
                        product_id: 1024
                        catalog_product_id: 88
                        operator_id: 42
                        operator_name: Telkomsel
                        phone_number: '+6281234567890'
                        amount: 750000
                        otp_code: null
                        otp_message: null
                        sms_revision: 0
                        otp_received_at: null
                        expires_at: '2026-05-11T09:20:00+00:00'
                        canceled_at: null
                        failed_reason: null
                        can_finish: false
                        can_resend: false
                        can_cancel: false
                        can_replace: false
                        can_reactivate: false
                        resend_available_at: null
                        cancel_available_at: '2026-05-11T09:02:00+00:00'
                        replace_available_at: '2026-05-11T09:02:00+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/orders/active:
    get:
      tags: [v1]
      operationId: v1ListActiveOrders
      summary: List active orders
      description: >-
        List the account's currently active orders (`ACTIVE` and
        `OTP_RECEIVED`), most recent first. A compact, money-free view —
        status and OTP fields only, no `amount`. Poll this to pick up an
        inbound verification code.
      responses:
        '200':
          description: The list of active orders.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V1OrderStatus'
              examples:
                active:
                  value:
                    success: true
                    data:
                      - id: 90210
                        status: OTP_RECEIVED
                        otp_code: null
                        otp_message: 'Confirm your login: https://example.com/confirm'
                        sms_revision: 1
                        otp_received_at: '2026-05-11T09:01:30+00:00'
                        expires_at: '2026-05-11T09:20:00+00:00'
                        failed_reason: null
                        operator_id: 42
                        operator_name: Telkomsel
                        can_finish: true
                        can_resend: true
                        can_cancel: false
                        can_replace: false
                        can_reactivate: false
                        resend_available_at: null
                        cancel_available_at: null
                        replace_available_at: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/orders/{id}:
    get:
      tags: [v1]
      operationId: v1GetOrder
      summary: Get an order
      description: >-
        Fetch a single order by id, scoped to the authenticated account.
        Returns `404 NOT_FOUND` if the order does not exist or belongs to
        another account. `amount` is in **IDR** minor units.
      parameters:
        - $ref: '#/components/parameters/OrderIdPath'
      responses:
        '200':
          description: The requested order.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/V1OrderSummary'
              examples:
                order:
                  value:
                    success: true
                    data:
                      id: 90210
                      status: COMPLETED
                      created_at: '2026-05-11T09:00:00+00:00'
                      product_id: 1024
                      catalog_product_id: 88
                      operator_id: 42
                      operator_name: Telkomsel
                      phone_number: '+6281234567890'
                      amount: 750000
                      otp_code: '123456'
                      otp_message: 'Your code is 123456'
                      sms_revision: 1
                      otp_received_at: '2026-05-11T09:01:30+00:00'
                      expires_at: '2026-05-11T09:20:00+00:00'
                      canceled_at: null
                      failed_reason: null
                      can_finish: false
                      can_resend: false
                      can_cancel: false
                      can_replace: false
                      can_reactivate: false
                      resend_available_at: null
                      cancel_available_at: null
                      replace_available_at: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/orders/create:
    post:
      tags: [v1]
      operationId: v1CreateOrder
      summary: Create an order
      description: >-
        Rent one or more numbers. Provide **exactly one** of `product_id`
        (legacy direct-tier) or `catalog_product_id` (routed — best current
        offer); both/neither → `422 VALIDATION_ERROR`. The price guard
        (`max_price`, **IDR** integer), `prefer_provider`, and `policy` are
        valid only with `catalog_product_id`.


        This is an idempotent write — send an `idempotency-key` header to make
        retries safe. Errors: `422 VALIDATION_ERROR` (bad/missing parameters),
        `422 NO_OFFER_AVAILABLE` (no offer matches the product and policy),
        `422 PROVIDER_ERROR` (an upstream provider rejected the order),
        `422 IDEMPOTENCY_KEY_REUSED` (key reused with a different body),
        `409 INSUFFICIENT_BALANCE` (balance too low), and
        `409 REQUEST_IN_PROGRESS` (a request with this key is still settling).
        Abuse-guard throttling surfaces as `429 TEMP_BANNED_ABUSE_GUARD`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1CreateOrderRequest'
            examples:
              routed:
                summary: Routed order by catalog product
                value:
                  catalog_product_id: 88
                  max_price: 800000
                  policy: cheapest
                  quantity: 1
              legacy:
                summary: Legacy order by product id
                value:
                  product_id: 1024
                  quantity: 1
      responses:
        '200':
          description: The created order(s).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/V1CreateOrderResult'
              examples:
                created:
                  value:
                    success: true
                    data:
                      orders:
                        - id: 90210
                          status: ACTIVE
                          phone_number: '+6281234567890'
                          otp_code: null
                          otp_received_at: null
                          expires_at: '2026-05-11T09:20:00+00:00'
                          failed_reason: null
                          product_id: 1024
                          catalog_product_id: 88
                          operator_id: 42
                          operator_name: Telkomsel
                          amount: 750000
                          can_finish: false
                          can_resend: false
                          can_cancel: false
                          can_replace: false
                          can_reactivate: false
                          resend_available_at: null
                          cancel_available_at: '2026-05-11T09:02:00+00:00'
                          replace_available_at: '2026-05-11T09:02:00+00:00'
                      failed_count: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/orders/cancel:
    post:
      tags: [v1]
      operationId: v1CancelOrder
      summary: Cancel an order
      description: >-
        Cancel an `ACTIVE` order and refund its amount to the balance. Money
        (`refund_amount`, `new_balance`) is in **IDR** minor units. Errors:
        `404 NOT_FOUND` (no such order, or it belongs to another account),
        `409` carrying `CONFLICT` (the order is not in a cancelable state /
        an OTP has already been received) or `CANCEL_TOO_EARLY` (canceled
        before the provider's minimum-cancel window), `422 PROVIDER_ERROR`
        (the provider cancel call failed — the order stays `ACTIVE`, so it is
        safe to retry), and `429 RATE_LIMIT_EXCEEDED` (the daily cancel cap).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1OrderIdRequest'
            examples:
              cancel:
                value:
                  id: 90210
      responses:
        '200':
          description: The cancellation result, with the refund applied.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/V1CancelOrderResult'
              examples:
                canceled:
                  value:
                    success: true
                    data:
                      order_id: 90210
                      status: CANCELED
                      refund_amount: 750000
                      new_balance: 2000000
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/orders/finish:
    post:
      tags: [v1]
      operationId: v1FinishOrder
      summary: Finish an order
      description: >-
        Mark an order as finished (the verification code has been used). Errors:
        `404 NOT_FOUND` (no such order) and `409 CONFLICT` (the order is not in
        a finishable state).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1OrderIdRequest'
            examples:
              finish:
                value:
                  id: 90210
      responses:
        '200':
          description: The finish result.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/V1FinishOrderResult'
              examples:
                finished:
                  value:
                    success: true
                    data:
                      order_id: 90210
                      status: COMPLETED
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/orders/resend:
    post:
      tags: [v1]
      operationId: v1ResendOrder
      summary: Resend the SMS
      description: >-
        Ask the provider to resend the verification SMS for an order. Errors:
        `404 NOT_FOUND` (no such order) and `409 CONFLICT` (the order is not in
        a state that allows a resend).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1OrderIdRequest'
            examples:
              resend:
                value:
                  id: 90210
      responses:
        '200':
          description: The resend result.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/V1ResendResult'
              examples:
                resent:
                  value:
                    success: true
                    data:
                      order_id: 90210
                      status: ACTIVE
                      resent: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/orders/reactivate:
    post:
      tags: [v1]
      operationId: v1ReactivateOrder
      summary: Reactivate a number
      description: >-
        Re-order (buy another verification code on) a completed number that
        supports reactivation — order the SAME number again without re-renting a
        fresh one. Only a completed order whose number supports reactivation
        qualifies (check `can_reactivate` on the order first, or preview with
        `GET /v1/orders/{id}/reactivate-options`). The reactivated child is a new
        order and is returned in the SAME shape as `POST /v1/orders/create`;
        `amount` is the charged price in **IDR** minor units. The optional
        `max_price` is an **IDR** integer cost ceiling — reactivation is refused
        with `422 VALIDATION_ERROR` if the live cost exceeds it.


        This is an idempotent write — send an `idempotency-key` header to make
        retries safe (a create and a reactivate can never collide on one key).
        Errors: `404 NOT_FOUND` (no such order, or it belongs to another
        account), `409 CONFLICT` (the number cannot be reactivated right now, or
        a reactivation for it is already settling), `409 INSUFFICIENT_BALANCE`
        (balance too low), `409 REQUEST_IN_PROGRESS` (a request with this key is
        still settling), `422 VALIDATION_ERROR` (the live cost exceeds
        `max_price`, or the key is malformed), `422 PROVIDER_ERROR` (the upstream
        provider rejected the reactivation), and `422 IDEMPOTENCY_KEY_REUSED`
        (key reused with a different body).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1ReactivateRequest'
            examples:
              reactivate:
                summary: Reactivate a completed number
                value:
                  id: 90210
              guarded:
                summary: Reactivate with an IDR price ceiling
                value:
                  id: 90210
                  max_price: 800000
      responses:
        '200':
          description: The reactivated child order (same shape as create).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/V1CreateOrderResult'
              examples:
                reactivated:
                  value:
                    success: true
                    data:
                      orders:
                        - id: 90244
                          status: ACTIVE
                          phone_number: '+6281234567890'
                          otp_code: null
                          otp_received_at: null
                          expires_at: '2026-05-11T10:20:00+00:00'
                          failed_reason: null
                          product_id: 1024
                          catalog_product_id: 88
                          operator_id: 42
                          operator_name: Telkomsel
                          amount: 750000
                          can_finish: false
                          can_resend: false
                          can_cancel: false
                          can_replace: false
                          can_reactivate: false
                          resend_available_at: null
                          cancel_available_at: '2026-05-11T10:02:00+00:00'
                          replace_available_at: '2026-05-11T10:02:00+00:00'
                      failed_count: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/orders/{id}/reactivate-options:
    get:
      tags: [v1]
      operationId: v1ReactivateOptions
      summary: Preview reactivation cost
      description: >-
        Read-only quote for what `POST /v1/orders/reactivate` would charge right
        now, in **IDR** minor units. Consumes NO idempotency key and writes
        nothing. Available only for a completed order whose number supports
        reactivation. Errors: `404 NOT_FOUND` (no such order, or it belongs to
        another account), `409 CONFLICT` (the number cannot be reactivated), and
        `422 PROVIDER_ERROR` (the upstream availability probe failed).
      parameters:
        - $ref: '#/components/parameters/OrderIdPath'
      responses:
        '200':
          description: The reactivation cost preview (IDR).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/V1ReactivateOptions'
              examples:
                preview:
                  value:
                    success: true
                    data:
                      cost: 750000
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  # ───────────────────────── /v2 — USD-native ─────────────────────────
  /v2/catalog/countries:
    get:
      tags: [v2]
      operationId: v2ListCountries
      summary: List countries
      description: >-
        List every country in the catalog. Identical to `GET
        /v1/catalog/countries` — countries carry no money, so there is no
        `meta.fx` on this response.
      responses:
        '200':
          description: The full list of countries.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V1Country'
              examples:
                countries:
                  value:
                    success: true
                    data:
                      - id: 7
                        code: id
                        name: Indonesia
                        dial_code: '62'
                        emoji: 🇮🇩
                        active: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v2/catalog/services:
    get:
      tags: [v2]
      operationId: v2ListServices
      summary: List services
      description: >-
        List services (platforms). Identical to `GET /v1/catalog/services` —
        no money, so no `meta.fx`. Pass `country_id` to narrow the list.
      parameters:
        - $ref: '#/components/parameters/CountryIdQuery'
      responses:
        '200':
          description: The list of services.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V1Service'
              examples:
                services:
                  value:
                    success: true
                    data:
                      - id: 1
                        code: whatsapp
                        name: WhatsApp
                        active: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v2/catalog/products:
    get:
      tags: [v2]
      operationId: v2ListProducts
      summary: List products
      description: >-
        List orderable products with each IDR `price` projected to a USD money
        object (4-decimal precision). The response `meta` carries pagination
        **and** an `fx` rate receipt — the same rate used for every `price` in
        the page. Not cached, so the embedded rate is never stale. Returns
        `503 FX_RATE_UNAVAILABLE` if the USD/IDR rate cannot be sourced.
      parameters:
        - $ref: '#/components/parameters/CountryIdQuery'
        - $ref: '#/components/parameters/PlatformIdQuery'
        - $ref: '#/components/parameters/OperatorIdQuery'
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/PageQuery'
        - $ref: '#/components/parameters/SortQuery'
      responses:
        '200':
          description: A page of products with pagination + FX metadata.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [meta]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V2Product'
                      meta:
                        $ref: '#/components/schemas/V2ProductsMeta'
              examples:
                products:
                  value:
                    success: true
                    data:
                      - id: 1024
                        name: WhatsApp - Indonesia
                        country_id: 7
                        platform_id: 1
                        available: 142
                        price:
                          amount: '46.8750'
                          currency: USD
                          canonical_amount: 750000
                          canonical_currency: IDR
                        active: true
                        catalog_product_id: 88
                    meta:
                      page: 1
                      limit: 1000
                      count: 1
                      fx:
                        pair: USD/IDR
                        rate: 16000
                        rate_as_of: '2026-05-11T09:00:00+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v2/catalog/operators:
    get:
      tags: [v2]
      operationId: v2ListOperators
      summary: List operators
      description: >-
        List the operators (carriers) with in-stock tiers for a (country,
        service). Prepended with a synthesized `any` entry (null `operator_id`)
        only when the any tiers also have stock. Empty ⇒ no operator choice
        (order the any tiers directly). Operators carry no money, so this
        response has no `meta.fx` — the schema is identical to `/v1`.
      parameters:
        - $ref: '#/components/parameters/OperatorCountryIdQuery'
        - $ref: '#/components/parameters/OperatorPlatformIdQuery'
      responses:
        '200':
          description: The in-stock operators (+ the conditional `any`).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V1Operator'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /v2/catalog/exchange-rate:
    get:
      tags: [v2]
      operationId: v2GetExchangeRate
      summary: Get the USD/IDR exchange rate
      description: >-
        Return the current USD/IDR FX receipt — the bare rate object used for
        every `/v2` money projection. The pair is always `USD/IDR` by
        contract; any `pair` query parameter is accepted for symmetry with
        `/v1` but ignored. Returns `503 FX_RATE_UNAVAILABLE` if the rate cannot
        be sourced.
      parameters:
        - $ref: '#/components/parameters/PairQuery'
      responses:
        '200':
          description: The current USD/IDR FX receipt.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/V2Fx'
              examples:
                fx:
                  value:
                    success: true
                    data:
                      pair: USD/IDR
                      rate: 16000
                      rate_as_of: '2026-05-11T09:00:00+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v2/balance:
    get:
      tags: [v2]
      operationId: v2GetBalance
      summary: Get account balance
      description: >-
        Return the authenticated account's balance as a USD money object
        (2-decimal precision) over the canonical IDR ledger, with an `meta.fx`
        rate receipt. Returns `503 FX_RATE_UNAVAILABLE` if the USD/IDR rate
        cannot be sourced.
      responses:
        '200':
          description: The current balance, USD-projected, with an FX receipt.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [meta]
                    properties:
                      data:
                        $ref: '#/components/schemas/V2Balance'
                      meta:
                        $ref: '#/components/schemas/V2Meta'
              examples:
                balance:
                  value:
                    success: true
                    data:
                      balance:
                        amount: '78.13'
                        currency: USD
                        canonical_amount: 1250000
                        canonical_currency: IDR
                    meta:
                      fx:
                        pair: USD/IDR
                        rate: 16000
                        rate_as_of: '2026-05-11T09:00:00+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v2/orders:
    get:
      tags: [v2]
      operationId: v2ListOrders
      summary: List orders
      description: >-
        List the account's orders, most recent first, with each IDR `amount`
        projected to a USD money object (4-decimal precision). The response
        `meta` carries an `fx` rate receipt — the same rate used for every
        `amount`. Returns `503 FX_RATE_UNAVAILABLE` if the USD/IDR rate cannot
        be sourced.
      parameters:
        - $ref: '#/components/parameters/OrderLimitQuery'
        - $ref: '#/components/parameters/OrderOffsetQuery'
        - $ref: '#/components/parameters/OrderStatusQuery'
      responses:
        '200':
          description: The list of orders, USD-projected, with an FX receipt.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [meta]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V2OrderSummary'
                      meta:
                        $ref: '#/components/schemas/V2Meta'
              examples:
                orders:
                  value:
                    success: true
                    data:
                      - id: 90210
                        status: ACTIVE
                        created_at: '2026-05-11T09:00:00+00:00'
                        product_id: 1024
                        catalog_product_id: 88
                        operator_id: 42
                        operator_name: Telkomsel
                        phone_number: '+6281234567890'
                        amount:
                          amount: '46.8750'
                          currency: USD
                          canonical_amount: 750000
                          canonical_currency: IDR
                        otp_code: null
                        otp_message: null
                        sms_revision: 0
                        otp_received_at: null
                        expires_at: '2026-05-11T09:20:00+00:00'
                        canceled_at: null
                        failed_reason: null
                        can_finish: false
                        can_resend: false
                        can_cancel: false
                        can_replace: false
                        can_reactivate: false
                        resend_available_at: null
                        cancel_available_at: '2026-05-11T09:02:00+00:00'
                        replace_available_at: '2026-05-11T09:02:00+00:00'
                    meta:
                      fx:
                        pair: USD/IDR
                        rate: 16000
                        rate_as_of: '2026-05-11T09:00:00+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v2/orders/active:
    get:
      tags: [v2]
      operationId: v2ListActiveOrders
      summary: List active orders
      description: >-
        List the account's active orders (`ACTIVE` and `OTP_RECEIVED`).
        Identical to `GET /v1/orders/active` — active orders carry no money, so
        there is no money object and no `meta.fx` on this response.
      responses:
        '200':
          description: The list of active orders.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/V1OrderStatus'
              examples:
                active:
                  value:
                    success: true
                    data:
                      - id: 90210
                        status: OTP_RECEIVED
                        otp_code: null
                        otp_message: 'Confirm your login: https://example.com/confirm'
                        sms_revision: 1
                        otp_received_at: '2026-05-11T09:01:30+00:00'
                        expires_at: '2026-05-11T09:20:00+00:00'
                        failed_reason: null
                        operator_id: 42
                        operator_name: Telkomsel
                        can_finish: true
                        can_resend: true
                        can_cancel: false
                        can_replace: false
                        can_reactivate: false
                        resend_available_at: null
                        cancel_available_at: null
                        replace_available_at: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v2/orders/{id}:
    get:
      tags: [v2]
      operationId: v2GetOrder
      summary: Get an order
      description: >-
        Fetch a single order by id, scoped to the account, with `amount`
        projected to a USD money object (4-decimal precision) and an `meta.fx`
        receipt. Returns `404 NOT_FOUND` if the order does not exist or belongs
        to another account, or `503 FX_RATE_UNAVAILABLE` if the USD/IDR rate
        cannot be sourced.
      parameters:
        - $ref: '#/components/parameters/OrderIdPath'
      responses:
        '200':
          description: The requested order, USD-projected, with an FX receipt.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [meta]
                    properties:
                      data:
                        $ref: '#/components/schemas/V2OrderSummary'
                      meta:
                        $ref: '#/components/schemas/V2Meta'
              examples:
                order:
                  value:
                    success: true
                    data:
                      id: 90210
                      status: COMPLETED
                      created_at: '2026-05-11T09:00:00+00:00'
                      product_id: 1024
                      catalog_product_id: 88
                      operator_id: 42
                      operator_name: Telkomsel
                      phone_number: '+6281234567890'
                      amount:
                        amount: '46.8750'
                        currency: USD
                        canonical_amount: 750000
                        canonical_currency: IDR
                      otp_code: '123456'
                      otp_message: 'Your code is 123456'
                      sms_revision: 1
                      otp_received_at: '2026-05-11T09:01:30+00:00'
                      expires_at: '2026-05-11T09:20:00+00:00'
                      canceled_at: null
                      failed_reason: null
                      can_finish: false
                      can_resend: false
                      can_cancel: false
                      can_replace: false
                      can_reactivate: false
                      resend_available_at: null
                      cancel_available_at: null
                      replace_available_at: null
                    meta:
                      fx:
                        pair: USD/IDR
                        rate: 16000
                        rate_as_of: '2026-05-11T09:00:00+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v2/orders/create:
    post:
      tags: [v2]
      operationId: v2CreateOrder
      summary: Create an order
      description: >-
        Rent one or more numbers (USD-native). Identical to
        `POST /v1/orders/create` except `max_price` is a **USD decimal string**
        (floor-converted to IDR at the boundary). Provide **exactly one** of
        `product_id` or `catalog_product_id`. Each created order's `amount` is a
        USD money object (4-decimal) and the response carries an `meta.fx`
        receipt.


        Idempotent — send an `idempotency-key` header to make retries safe.
        Errors: `422 VALIDATION_ERROR` (bad/missing parameters),
        `422 NO_OFFER_AVAILABLE` (no offer matches the product and policy),
        `422 PROVIDER_ERROR` (an upstream provider rejected the order),
        `422 IDEMPOTENCY_KEY_REUSED` (key reused with a different body),
        `409 INSUFFICIENT_BALANCE` (balance too low),
        `409 REQUEST_IN_PROGRESS` (a request with this key is still settling),
        and `503 FX_RATE_UNAVAILABLE` (the USD/IDR rate cannot be sourced —
        resolved before the ledger is touched, so no debit occurs).
        Abuse-guard throttling surfaces as `429 TEMP_BANNED_ABUSE_GUARD`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2CreateOrderRequest'
            examples:
              routed:
                summary: Routed order by catalog product (USD price guard)
                value:
                  catalog_product_id: 88
                  max_price: '0.50'
                  policy: cheapest
                  quantity: 1
              legacy:
                summary: Legacy order by product id
                value:
                  product_id: 1024
                  quantity: 1
      responses:
        '200':
          description: The created order(s), USD-projected, with an FX receipt.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [meta]
                    properties:
                      data:
                        $ref: '#/components/schemas/V2CreateOrderResult'
                      meta:
                        $ref: '#/components/schemas/V2Meta'
              examples:
                created:
                  value:
                    success: true
                    data:
                      orders:
                        - id: 90210
                          status: ACTIVE
                          phone_number: '+6281234567890'
                          otp_code: null
                          otp_received_at: null
                          expires_at: '2026-05-11T09:20:00+00:00'
                          failed_reason: null
                          product_id: 1024
                          catalog_product_id: 88
                          operator_id: 42
                          operator_name: Telkomsel
                          amount:
                            amount: '46.8750'
                            currency: USD
                            canonical_amount: 750000
                            canonical_currency: IDR
                          can_finish: false
                          can_resend: false
                          can_cancel: false
                          can_replace: false
                          can_reactivate: false
                          resend_available_at: null
                          cancel_available_at: '2026-05-11T09:02:00+00:00'
                          replace_available_at: '2026-05-11T09:02:00+00:00'
                      failed_count: 0
                    meta:
                      fx:
                        pair: USD/IDR
                        rate: 16000
                        rate_as_of: '2026-05-11T09:00:00+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v2/orders/cancel:
    post:
      tags: [v2]
      operationId: v2CancelOrder
      summary: Cancel an order
      description: >-
        Cancel an `ACTIVE` order and refund its amount. Reuses the same refund
        logic as `/v1`; only the result is re-expressed as USD money. The two
        money fields use DIFFERENT precision by design — `refund_amount` is
        4-decimal (mirrors the order amount) and `new_balance` is 2-decimal (a
        wallet total) — both under one `meta.fx`. Errors: `404 NOT_FOUND`
        (no such order, or it belongs to another account), `409` carrying
        `CONFLICT` (the order is not in a cancelable state / an OTP has already
        been received) or `CANCEL_TOO_EARLY` (canceled before the provider's
        minimum-cancel window), `422 PROVIDER_ERROR` (the provider cancel call
        failed — the order stays `ACTIVE`, so it is safe to retry),
        `429 RATE_LIMIT_EXCEEDED` (the daily cancel cap), and
        `503 FX_RATE_UNAVAILABLE` (the USD/IDR rate cannot be sourced —
        resolved before the ledger is touched, so no refund occurs).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1OrderIdRequest'
            examples:
              cancel:
                value:
                  id: 90210
      responses:
        '200':
          description: The cancellation result, USD-projected, with an FX receipt.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [meta]
                    properties:
                      data:
                        $ref: '#/components/schemas/V2CancelResult'
                      meta:
                        $ref: '#/components/schemas/V2Meta'
              examples:
                canceled:
                  value:
                    success: true
                    data:
                      order_id: 90210
                      status: CANCELED
                      refund_amount:
                        amount: '46.8750'
                        currency: USD
                        canonical_amount: 750000
                        canonical_currency: IDR
                      new_balance:
                        amount: '125.00'
                        currency: USD
                        canonical_amount: 2000000
                        canonical_currency: IDR
                    meta:
                      fx:
                        pair: USD/IDR
                        rate: 16000
                        rate_as_of: '2026-05-11T09:00:00+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v2/orders/finish:
    post:
      tags: [v2]
      operationId: v2FinishOrder
      summary: Finish an order
      description: >-
        Mark an order as finished. Identical to `POST /v1/orders/finish` — no
        money, so no money object and no `meta.fx`. Errors: `404 NOT_FOUND`
        (no such order) and `409 CONFLICT` (not finishable).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1OrderIdRequest'
            examples:
              finish:
                value:
                  id: 90210
      responses:
        '200':
          description: The finish result.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/V1FinishOrderResult'
              examples:
                finished:
                  value:
                    success: true
                    data:
                      order_id: 90210
                      status: COMPLETED
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v2/orders/resend:
    post:
      tags: [v2]
      operationId: v2ResendOrder
      summary: Resend the SMS
      description: >-
        Ask the provider to resend the verification SMS. Identical to
        `POST /v1/orders/resend` — no money, so no money object and no
        `meta.fx`. Errors: `404 NOT_FOUND` (no such order) and `409 CONFLICT`
        (the order is not in a state that allows a resend).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1OrderIdRequest'
            examples:
              resend:
                value:
                  id: 90210
      responses:
        '200':
          description: The resend result.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/V1ResendResult'
              examples:
                resent:
                  value:
                    success: true
                    data:
                      order_id: 90210
                      status: ACTIVE
                      resent: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v2/orders/reactivate:
    post:
      tags: [v2]
      operationId: v2ReactivateOrder
      summary: Reactivate a number
      description: >-
        Re-order (buy another verification code on) a completed number that
        supports reactivation (USD-native). Identical to
        `POST /v1/orders/reactivate` except `max_price` is a **USD decimal
        string** (floor-converted to IDR at the boundary). Only a completed order
        whose number supports reactivation qualifies (check `can_reactivate`, or
        preview with `GET /v2/orders/{id}/reactivate-options`). The reactivated
        child is returned in the SAME shape as `POST /v2/orders/create`: `amount`
        is a USD money object (4-decimal) and the response carries an `meta.fx`
        receipt.


        Idempotent — send an `idempotency-key` header to make retries safe (a
        create and a reactivate can never collide on one key). Errors:
        `404 NOT_FOUND` (no such order, or it belongs to another account),
        `409 CONFLICT` (the number cannot be reactivated right now, or a
        reactivation for it is already settling), `409 INSUFFICIENT_BALANCE`
        (balance too low), `409 REQUEST_IN_PROGRESS` (a request with this key is
        still settling), `422 VALIDATION_ERROR` (the live cost exceeds
        `max_price`, or the key is malformed), `422 PROVIDER_ERROR` (the upstream
        provider rejected the reactivation), `422 IDEMPOTENCY_KEY_REUSED` (key
        reused with a different body), and `503 FX_RATE_UNAVAILABLE` (the USD/IDR
        rate cannot be sourced — resolved before the ledger is touched, so no
        debit occurs).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2ReactivateRequest'
            examples:
              reactivate:
                summary: Reactivate a completed number
                value:
                  id: 90210
              guarded:
                summary: Reactivate with a USD price ceiling
                value:
                  id: 90210
                  max_price: '0.50'
      responses:
        '200':
          description: The reactivated child order (same shape as create), USD-projected.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [meta]
                    properties:
                      data:
                        $ref: '#/components/schemas/V2CreateOrderResult'
                      meta:
                        $ref: '#/components/schemas/V2Meta'
              examples:
                reactivated:
                  value:
                    success: true
                    data:
                      orders:
                        - id: 90244
                          status: ACTIVE
                          phone_number: '+6281234567890'
                          otp_code: null
                          otp_received_at: null
                          expires_at: '2026-05-11T10:20:00+00:00'
                          failed_reason: null
                          product_id: 1024
                          catalog_product_id: 88
                          operator_id: 42
                          operator_name: Telkomsel
                          amount:
                            amount: '46.8750'
                            currency: USD
                            canonical_amount: 750000
                            canonical_currency: IDR
                          can_finish: false
                          can_resend: false
                          can_cancel: false
                          can_replace: false
                          can_reactivate: false
                          resend_available_at: null
                          cancel_available_at: '2026-05-11T10:02:00+00:00'
                          replace_available_at: '2026-05-11T10:02:00+00:00'
                      failed_count: 0
                    meta:
                      fx:
                        pair: USD/IDR
                        rate: 16000
                        rate_as_of: '2026-05-11T09:00:00+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v2/orders/{id}/reactivate-options:
    get:
      tags: [v2]
      operationId: v2ReactivateOptions
      summary: Preview reactivation cost
      description: >-
        Read-only quote for what `POST /v2/orders/reactivate` would charge right
        now, as a USD money object (4-decimal) with an `meta.fx` receipt.
        Consumes NO idempotency key and writes nothing. Available only for a
        completed order whose number supports reactivation. Errors:
        `404 NOT_FOUND` (no such order, or it belongs to another account),
        `409 CONFLICT` (the number cannot be reactivated), `422 PROVIDER_ERROR`
        (the upstream availability probe failed), and `503 FX_RATE_UNAVAILABLE`
        (the USD/IDR rate cannot be sourced).
      parameters:
        - $ref: '#/components/parameters/OrderIdPath'
      responses:
        '200':
          description: The reactivation cost preview (USD), with an FX receipt.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    required: [meta]
                    properties:
                      data:
                        $ref: '#/components/schemas/V2ReactivateOptions'
                      meta:
                        $ref: '#/components/schemas/V2Meta'
              examples:
                preview:
                  value:
                    success: true
                    data:
                      cost:
                        amount: '46.8750'
                        currency: USD
                        canonical_amount: 750000
                        canonical_currency: IDR
                    meta:
                      fx:
                        pair: USD/IDR
                        rate: 16000
                        rate_as_of: '2026-05-11T09:00:00+00:00'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  # ───────────────────── /v1 + /v2 — webhook config ─────────────────────
  # Webhook config carries NO money, so the /v2 operations reuse the v1
  # handlers verbatim — responses are byte-identical (no `meta`, no `fx`).
  /v1/webhook:
    get:
      tags: [v1]
      operationId: v1GetWebhook
      summary: Get the webhook configuration
      description: >-
        Return the saved outbound-webhook configuration for your account: the
        delivery `webhook_url`, the signing `webhook_secret`, and the
        auto-disable status (`webhook_disabled_at`, `webhook_disabled_reason`,
        `webhook_consecutive_failures`).


        **Note:** this endpoint returns the `webhook_secret` value in clear text
        so you can re-verify your local signature check. Treat the response as
        sensitive and keep it server-side.
      responses:
        '200':
          description: The current webhook configuration.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookConfig'
              examples:
                configured:
                  value:
                    success: true
                    data:
                      webhook_url: https://example.com/hooks/smscode
                      webhook_secret: 3f8a1c4e9b2d7a6f0c5e1d8b4a7f2e9c3b6d0a5f8e1c4b7d2a9f6e3c0b5d8a1f
                      webhook_disabled_at: null
                      webhook_disabled_reason: null
                      webhook_consecutive_failures: 0
                unset:
                  summary: No webhook configured
                  value:
                    success: true
                    data:
                      webhook_url: null
                      webhook_secret: null
                      webhook_disabled_at: null
                      webhook_disabled_reason: null
                      webhook_consecutive_failures: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      tags: [v1]
      operationId: v1UpdateWebhook
      summary: Update the webhook configuration
      description: >-
        Set or clear your outbound-webhook delivery URL and/or signing secret.
        Send **at least one** of `webhook_url` or `webhook_secret`; an empty
        body is rejected with `422 VALIDATION_ERROR`. Pass an empty string (`""`)
        for a field to clear it. The `webhook_url` must be `https://` and may
        not resolve to a private/reserved/internal address. On the first time a
        URL is set without a secret, a signing secret is generated
        automatically. Any successful update also clears the auto-disable state
        (re-enabling delivery and resetting the failure counter).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookBody'
            examples:
              set_url:
                summary: Set the delivery URL
                value:
                  webhook_url: https://example.com/hooks/smscode
              rotate_secret:
                summary: Rotate the signing secret
                value:
                  webhook_secret: a-new-shared-secret
              clear:
                summary: Clear the webhook (disable delivery)
                value:
                  webhook_url: ''
      responses:
        '200':
          description: The updated webhook configuration.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookConfig'
              examples:
                updated:
                  value:
                    success: true
                    data:
                      webhook_url: https://example.com/hooks/smscode
                      webhook_secret: 3f8a1c4e9b2d7a6f0c5e1d8b4a7f2e9c3b6d0a5f8e1c4b7d2a9f6e3c0b5d8a1f
                      webhook_disabled_at: null
                      webhook_disabled_reason: null
                      webhook_consecutive_failures: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/webhook/test:
    post:
      tags: [v1]
      operationId: v1TestWebhook
      summary: Send a test webhook event
      description: >-
        POST a `webhook.test` event to your configured `webhook_url` and return
        the HTTP status code your endpoint responded with. Useful to verify
        connectivity and your signature check end-to-end. Requires a configured
        URL — otherwise `422 VALIDATION_ERROR`. This is heavily rate limited.
        If a `webhook_secret` is set, the test request carries an
        `X-Webhook-Signature` header (see the `webhook.test` callback below).
      responses:
        '200':
          description: >-
            The test event was dispatched. `status_code` is the HTTP status your
            endpoint returned (any value, not just 2xx — it is reported as-is).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookTestResult'
              examples:
                delivered:
                  value:
                    success: true
                    data:
                      status_code: 200
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v2/webhook:
    get:
      tags: [v2]
      operationId: v2GetWebhook
      summary: Get the webhook configuration
      description: >-
        USD-native surface alias of `GET /v1/webhook`. Webhook config carries no
        money, so the response is byte-identical to the v1 endpoint (no `meta`).
        See `GET /v1/webhook` for the full field semantics and the secret-in-clear
        note.
      responses:
        '200':
          description: The current webhook configuration.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookConfig'
              examples:
                configured:
                  value:
                    success: true
                    data:
                      webhook_url: https://example.com/hooks/smscode
                      webhook_secret: 3f8a1c4e9b2d7a6f0c5e1d8b4a7f2e9c3b6d0a5f8e1c4b7d2a9f6e3c0b5d8a1f
                      webhook_disabled_at: null
                      webhook_disabled_reason: null
                      webhook_consecutive_failures: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      tags: [v2]
      operationId: v2UpdateWebhook
      summary: Update the webhook configuration
      description: >-
        USD-native surface alias of `PATCH /v1/webhook` — identical request and
        response (no money, no `meta`). Send at least one of `webhook_url` or
        `webhook_secret`. See `PATCH /v1/webhook` for the full semantics.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookBody'
            examples:
              set_url:
                summary: Set the delivery URL
                value:
                  webhook_url: https://example.com/hooks/smscode
      responses:
        '200':
          description: The updated webhook configuration.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookConfig'
              examples:
                updated:
                  value:
                    success: true
                    data:
                      webhook_url: https://example.com/hooks/smscode
                      webhook_secret: 3f8a1c4e9b2d7a6f0c5e1d8b4a7f2e9c3b6d0a5f8e1c4b7d2a9f6e3c0b5d8a1f
                      webhook_disabled_at: null
                      webhook_disabled_reason: null
                      webhook_consecutive_failures: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v2/webhook/test:
    post:
      tags: [v2]
      operationId: v2TestWebhook
      summary: Send a test webhook event
      description: >-
        USD-native surface alias of `POST /v1/webhook/test` — identical behavior.
        POSTs a `webhook.test` event to your configured URL and returns the HTTP
        status your endpoint responded with. Shares the same per-account outbound
        rate budget as the v1 test endpoint.
      responses:
        '200':
          description: >-
            The test event was dispatched. `status_code` is the HTTP status your
            endpoint returned, reported as-is.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookTestResult'
              examples:
                delivered:
                  value:
                    success: true
                    data:
                      status_code: 200
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

# ─────────────────────────── outbound webhooks ───────────────────────────
# OpenAPI 3.1 `webhooks:` — the requests SMSCode makes OUT to YOUR server
# (the configured `webhook_url`), not endpoints you call on us. Each is an
# HTTP POST your endpoint must accept and answer 2xx; a non-2xx (or transport
# failure) is retried, and 10 consecutive failures auto-disable delivery.
webhooks:
  orderEvent:
    post:
      tags: [v1]
      operationId: onOrderEvent
      summary: Order lifecycle event (sent to your endpoint)
      description: >-
        Sent to your configured `webhook_url` for every novel SMS delivery
        (`order.otp_received`) and when the order reaches a terminal state
        (`order.completed`, `order.expired`, `order.canceled`). A delivered SMS
        may have `otp_code: null` with a non-null `otp_message`. Multiple SMS
        events are self-consistent snapshots but may arrive out of order; do not
        infer SMS chronology from webhook delivery order.
        Authenticated, when a `webhook_secret` is set, with the
        `X-Webhook-Signature` header — the lowercase-hex `sha256=<hmac>` of the
        **raw request body** keyed by your secret. Verify the signature, then
        respond `2xx` to acknowledge.
      security: []
      parameters:
        - $ref: '#/components/parameters/WebhookSignatureHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEvent'
            examples:
              otp_received:
                summary: order.otp_received (operator-routed order)
                value:
                  event: order.otp_received
                  timestamp: '2026-05-11T09:05:00+00:00'
                  data:
                    order_id: 90210
                    phone_number: '+6281234567890'
                    otp_code: '123456'
                    otp_message: 'Your code is 123456'
                    sms_revision: 1
                    product_id: 1024
                    catalog_product_id: 88
                    country: Indonesia
                    platform: WhatsApp
                    operator_id: 42
                    operator_name: Telkomsel
                    can_finish: true
                    can_resend: true
                    can_cancel: false
                    can_replace: false
                    can_reactivate: false
                    resend_available_at: null
                    cancel_available_at: null
                    replace_available_at: null
              sms_received_without_code:
                summary: order.otp_received with text but no classified code
                value:
                  event: order.otp_received
                  timestamp: '2026-05-11T09:06:00+00:00'
                  data:
                    order_id: 90210
                    phone_number: '+6281234567890'
                    otp_code: null
                    otp_message: 'Confirm your login: https://example.com/confirm'
                    sms_revision: 1
                    product_id: 1024
                    catalog_product_id: 88
                    country: Indonesia
                    platform: WhatsApp
                    operator_id: 42
                    operator_name: Telkomsel
                    can_finish: true
                    can_resend: true
                    can_cancel: false
                    can_replace: false
                    can_reactivate: false
                    resend_available_at: null
                    cancel_available_at: null
                    replace_available_at: null
              completed:
                summary: order.completed (operator-routed order, terminal)
                value:
                  event: order.completed
                  timestamp: '2026-05-11T09:10:00+00:00'
                  data:
                    order_id: 90210
                    phone_number: '+6281234567890'
                    otp_code: '123456'
                    otp_message: 'Your code is 123456'
                    sms_revision: null
                    product_id: 1024
                    catalog_product_id: 88
                    country: Indonesia
                    platform: WhatsApp
                    operator_id: 42
                    operator_name: Telkomsel
                    can_finish: false
                    can_resend: false
                    can_cancel: false
                    can_replace: false
                    can_reactivate: false
                    resend_available_at: null
                    cancel_available_at: null
                    replace_available_at: null
              canceled:
                summary: order.canceled (any-operator order, terminal + refunded)
                value:
                  event: order.canceled
                  timestamp: '2026-05-11T09:08:00+00:00'
                  data:
                    order_id: 90210
                    phone_number: '+6281234567890'
                    otp_code: null
                    otp_message: null
                    sms_revision: null
                    product_id: 1024
                    catalog_product_id: 88
                    country: Indonesia
                    platform: WhatsApp
                    operator_id: null
                    operator_name: null
                    can_finish: false
                    can_resend: false
                    can_cancel: false
                    can_replace: false
                    can_reactivate: false
                    resend_available_at: null
                    cancel_available_at: null
                    replace_available_at: null
      responses:
        '200':
          description: >-
            Acknowledged. Return any `2xx` to mark the delivery successful. A
            non-2xx response (or a transport failure) is retried with backoff.

  webhookTest:
    post:
      tags: [v1]
      operationId: onWebhookTest
      summary: Test event (sent by POST /webhook/test)
      description: >-
        Sent to your configured `webhook_url` when you call `POST /webhook/test`.
        Signed identically to `orderEvent` (the `X-Webhook-Signature` header,
        present when a `webhook_secret` is set). The status code your endpoint
        returns is echoed back in the `POST /webhook/test` response.
      security: []
      parameters:
        - $ref: '#/components/parameters/WebhookSignatureHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTestEvent'
            examples:
              test:
                value:
                  event: webhook.test
                  timestamp: '2026-05-11T09:05:00+00:00'
                  data:
                    message: 'This is a test webhook event from SMSCode.'
      responses:
        '200':
          description: Acknowledged. Any `2xx` marks the test successful.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        Bearer authentication with your API key. Send it as
        `Authorization: Bearer <YOUR_API_KEY>`. Keep the key server-side; it
        carries full balance and ordering authority for your account.

  schemas:
    ErrorCode:
      type: string
      title: ErrorCode
      description: >-
        Stable, machine-readable error identifier. Branch on this value rather
        than on `message`. The HTTP status accompanying each code is fixed (see
        each value).
      enum:
        - UNAUTHORIZED
        - FORBIDDEN
        - NOT_FOUND
        - VALIDATION_ERROR
        - PROVIDER_ERROR
        - NO_OFFER_AVAILABLE
        - IDEMPOTENCY_KEY_REUSED
        - INSUFFICIENT_BALANCE
        - CONFLICT
        - CANCEL_TOO_EARLY
        - REQUEST_IN_PROGRESS
        - RATE_LIMIT_EXCEEDED
        - TEMP_BANNED_ABUSE_GUARD
        - SERVICE_UNAVAILABLE
        - FX_RATE_UNAVAILABLE
        - INTERNAL_ERROR
      x-enum-descriptions:
        UNAUTHORIZED: Missing or invalid API key (HTTP 401).
        FORBIDDEN: Authenticated, but not permitted to perform this action (HTTP 403).
        NOT_FOUND: The requested resource does not exist (HTTP 404).
        VALIDATION_ERROR: Request failed validation (bad/missing parameters) (HTTP 422).
        PROVIDER_ERROR: An upstream SMS provider rejected or failed the operation (HTTP 422).
        NO_OFFER_AVAILABLE: No offer matches the requested product and policy (HTTP 422).
        IDEMPOTENCY_KEY_REUSED: The idempotency key was already used with a different request body (HTTP 422).
        INSUFFICIENT_BALANCE: Account balance is too low for this operation (HTTP 409).
        CONFLICT: The request conflicts with the current state of the resource (HTTP 409).
        CANCEL_TOO_EARLY: The order was canceled before the provider's minimum-cancel window elapsed; wait and retry (HTTP 409).
        REQUEST_IN_PROGRESS: A request with this idempotency key is still in progress; retry the same key shortly (HTTP 409).
        RATE_LIMIT_EXCEEDED: Too many requests; back off and retry after the `Retry-After` header (HTTP 429).
        TEMP_BANNED_ABUSE_GUARD: Order creation temporarily blocked by the abuse guard due to a high failure rate; see `details` and `Retry-After` (HTTP 429).
        SERVICE_UNAVAILABLE: The service is temporarily unavailable; retry later (HTTP 503).
        FX_RATE_UNAVAILABLE: The USD/IDR exchange rate is temporarily unavailable; retry later (HTTP 503).
        INTERNAL_ERROR: An unexpected server error occurred (HTTP 500).

    ErrorObject:
      type: object
      title: ErrorObject
      description: The error payload carried inside a failure envelope.
      required:
        - code
        - message
      additionalProperties: false
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
          description: >-
            Human-readable description of the error. For display and logging
            only — do not branch on this text; use `code` instead.
          examples:
            - Authentication required
        details:
          type: object
          additionalProperties: true
          description: >-
            Optional structured context for the error (e.g. validation field
            errors, or `until`/`tier`/`retry_after_seconds` for
            `TEMP_BANNED_ABUSE_GUARD`). Omitted when there is no extra context —
            never sent as `null`.

    ErrorResponse:
      type: object
      title: ErrorResponse
      description: >-
        The failure envelope returned for every logical/business error. The
        `success` discriminator is always `false`.
      required:
        - success
        - error
      additionalProperties: false
      properties:
        success:
          const: false
          description: Always `false` for an error response.
        error:
          $ref: '#/components/schemas/ErrorObject'
      examples:
        - success: false
          error:
            code: UNAUTHORIZED
            message: Authentication required

    SuccessEnvelope:
      type: object
      title: SuccessEnvelope
      description: >-
        The success envelope shape. `data` carries the operation result;
        `meta` is optional and present only when an endpoint attaches it (e.g.
        pagination, or the `meta.fx` exchange-rate receipt on `/v2`). Concrete
        endpoints narrow `data` (and `meta`) with `allOf` in later additions to
        this spec.
      required:
        - success
        - data
      properties:
        success:
          const: true
          description: Always `true` for a success response.
        data:
          description: The operation result payload. Shape depends on the endpoint.
        meta:
          $ref: '#/components/schemas/Meta'

    Meta:
      type: object
      title: Meta
      description: >-
        Optional response metadata envelope. Endpoints attach only the members
        relevant to them (e.g. pagination on list endpoints, or `fx` on `/v2`
        money responses). Omitted entirely when there is nothing to report.
      additionalProperties: true

    # ── /v1 catalog + balance schemas (IDR-native) ──

    V1Country:
      type: object
      title: V1Country
      description: A country in the catalog.
      required: [id, name, active]
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          description: Stable country identifier. Use it to scope services and products.
          examples: [6]
        code:
          type: [string, 'null']
          description: ISO 3166-1 alpha-2 country code (lowercase), when known.
          examples: [id]
        name:
          type: string
          description: Human-readable country name.
          examples: [Indonesia]
        dial_code:
          type: [string, 'null']
          description: International dialing code (without the leading `+`), when known.
          examples: ['62']
        emoji:
          type: [string, 'null']
          description: Flag emoji for the country, when known.
          examples: ['🇮🇩']
        active:
          type: boolean
          description: Whether the country is currently active in the catalog.
          examples: [true]

    V1Service:
      type: object
      title: V1Service
      description: A service (platform) you can rent a number for, e.g. WhatsApp.
      required: [id, code, name, active]
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          description: Stable service identifier (the `platform_id` used by products).
          examples: [1]
        code:
          type: string
          description: Machine-readable service slug.
          examples: [whatsapp]
        name:
          type: string
          description: Human-readable service name.
          examples: [WhatsApp]
        active:
          type: boolean
          description: Whether the service is currently active in the catalog.
          examples: [true]

    V1Operator:
      type: object
      title: V1Operator
      description: An operator (carrier) in a country, e.g. Telkomsel. Listed only when it has in-stock tiers. The synthesized `any` entry carries a null `operator_id`.
      required: [operator_id, code]
      additionalProperties: false
      properties:
        operator_id:
          type: [integer, 'null']
          format: int32
          description: Stable operator identifier. Pass it to `/catalog/products?operator_id=`. Null for the synthesized `any` coordinate.
          examples: [42]
        code:
          type: string
          description: Operator code (`any` for the synthesized wildcard).
          examples: [telkomsel]
        name:
          type: [string, 'null']
          description: Display name, when set.
          examples: [Telkomsel]
        local_name:
          type: [string, 'null']
          description: Local-language display name, when set.

    V1Product:
      type: object
      title: V1Product
      description: >-
        An orderable product — a service in a country at a price. `price` is in
        **IDR** minor units (integer), the canonical ledger currency.
      required: [id, available, price, active]
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          description: >-
[...]
